<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-card class="center-card">
    <ion-card-content>
      <ion-label>NFC Event Data:</ion-label>
      <ion-text>{{ nfcNumber }}</ion-text>
      <ion-text>{{ latitude }}</ion-text>
      <ion-text>{{ longitude }}</ion-text>
    </ion-card-content>
  </ion-card>  
  <ion-button (click)="sendEmail()">SEND EMAIL</ion-button>
</ion-content>
